p {
  font-size: 1em;
  line-height: 1.6em;
  text-align: justify; }

html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0; }

body {
  box-sizing: border-box;
  background-color: #FEFEFE;
  font-size: 100%;
  font-family: "Roboto", sans-serif;
  height: 100%;
  background-image: url("img/bg.jpg");
  background-size: cover; }

*, *:before, *:after {
  box-sizing: inherit; }

body, html {
  min-height: 100%;
  height: 100%; }

.container__large {
  max-width: 1600px;
  margin: 0 auto; }

.container__medium {
  max-width: 1200px;
  margin: 0 auto; }

.container__small {
  max-width: 800px;
  margin: 0 auto; }

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.row::before,
.row::after {
  display: table;
  content: " ";
  clear: both; }

.column {
  flex-basis: 100%;
  padding: 2em; }

@media screen and (min-width: 800px) {
  .column {
    flex: 1; } }
.one,
.one-third,
.two-thirds,
.one-fourth,
.half {
  width: 100%; }

@media only screen and (min-width: 800px) {
  .one {
    width: 100%; }

  .half {
    width: calc(100% / 2); }

  .one-third {
    width: calc(100% / 3); }

  .one-fourth {
    width: calc(100% / 4); }

  .two-thirds {
    width: calc(100% / 3 * 2); }

  .column {
    float: left; } }
@media (max-width: 900px) {
  .row {
    display: block !important; } }
.site {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 0; }

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.title {
  margin: 0 0 40px 0;
  letter-spacing: 0.06em; }

.logo {
  font-size: 3em;
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  color: #F9FAFC; }

.tagline {
  font-size: 2em;
  font-family: "Raleway", sans-serif;
  color: #EFF2F7; }

.account-info {
  font-size: 1em;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.06em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end; }

.account-button {
  background-color: #F9FAFC;
  color: #000;
  width: 120px;
  padding: 10px 15px;
  margin: 0 0 0 20px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.2s ease;
  cursor: pointer; }
  .account-button:hover {
    background-color: #FFEB3B;
    color: #000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.content {
  display: flex;
  flex-direction: row; }

.left-pane {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  background-color: #F9FAFC;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.right-pane {
  width: 80%;
  display: flex;
  flex-direction: column; }

.post-options {
  width: 100%; }

.submit-button {
  background-color: #009EEB;
  color: #FFF;
  padding: 10px 15px;
  margin: 0 0 20px 0px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transition: all 0.2s ease;
  cursor: pointer; }
  .submit-button:hover {
    background-color: #FFEB3B;
    color: #000;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.filter-item {
  padding: 0 0 20px 0; }

.filter-label {
  font-weight: bold;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
  letter-spacing: 0.06em;
  margin: 0 0 10px 0; }

.server-options {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 1px solid #E5E9F2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
  .server-options:hover {
    outline: none; }

.filter-content {
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 0.06em; }

.filter-content-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0 0 10px 0;
  font-size: 0.9em;
  letter-spacing: 0.06em; }

.server-options select {
  padding: 10px 0; }

.checkbox {
  border-radius: 5px;
  margin: 2px 10px 0 0; }

/*# sourceMappingURL=style.css.map */
