.content {
    display: flex;
    flex-direction: row;
}

.left-pane {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 20px;
    background-color: #F9FAFC;

    border-radius: 5px;

    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.right-pane {
    width: 80%;

    display: flex;
    flex-direction: column;
}

.post-options {
    width: 100%;
}

.submit-button {
    background-color: $primary-color;
    color: $white;

    padding: 10px 15px;
    margin: 0 0 20px 0px;
    text-align: center;

    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: $secondary-color;
        color: $black;

         box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}

.filter-options {

}

.filter-item {
    padding: 0 0 20px 0;
}

.filter-label {
    font-weight: bold;
    font-family: $primary-font;
    font-size: 1.2em;

    margin: 0 0 10px 0;
}

.server-options {
    width: 100%;
    padding: 5px;

    border-radius: 5px;
    outline: none;
    border: none;

    border: 1px solid $select-color;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &:hover {
        outline: none;

    }
}

.filter-content {
    font-family: $secondary-font;
    letter-spacing: 0.06em;
}

.server-options select {
    padding: 10px 0;
}

.checkbox {
    border-radius: 5px;
    margin: 0 10px 10px 0;
}
