.chat-bar {
    position: fixed;
    right: 10%;
    bottom: 30px;
    padding: 10px 15px;

    border-radius: 5px;
    background-color: $chat-bar-color;

    font-family: $primary-font;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.chat {
    background-color: $chat-color;
    border-bottom: 3px solid $chat-border-color;
    color: $white;
    font-family: $primary-font;
    letter-spacing: 0.06em;

    padding: 10px 15px;
    text-align: center;

    border-radius: 5px;

    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: $secondary-color;
        border-bottom: 3px solid $secondary-border-color;
        color: $black;
    }
}
