$black: #000;
$white: #FFF;

$default-bg-color: #FEFEFE;

$primary-color: #009EEB;
$primary-border-color: #1480B5;

$secondary-color: #FFEB3B;
$secondary-border-color: #D1C02C;

$logo-color: #F9FAFC;
$tagline-color: #EFF2F7;

$account-color: #F9FAFC;
$account-hover-color: #FFEB3B;

$select-color: #C0CCDA;

$tab-color: #D3DCE6;
$tab-selected-color: #EFF2F7;

$pane-color: #EFF2F7;
$pane-border-color: #8492A6;

$card-color: #F9FAFC;
$card-border-color: #E5E9F2;

$tags-color: #1480B5;
$copy-color: #000;

$online-color: #13CE66;
$online-border-color: #0CAD54;

$offline-color: #FF4949;
$offline-border-color: #D62929;

$submit-border-color: #1480B5;

$chat-bar-color: #EFF2F7;

$chat-color: #7E5BEF;
$chat-border-color: #592DEA;
